.drop-down {
  transition: background-color .2s;
  &:hover {
    background-color: var(--hover) !important;
  }
  &:active:not(.data-list-item__button) {
    background-color: var(--active) !important;
  }
  &:focus {
    background-color: var(--focus);
    outline: none;
  }
  &__wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s linear;
  }
  &__header {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    padding: 0;

  }
  &__content {
    padding: 10px;
    transition: opacity .2s linear, transform .2s linear;
    opacity: 0;
    transform: scale(.8);
    &_open {
      opacity: 1;
      transform: scale(1);
    }
  }
}