.data-list-item {
  transition: transform .2s, opacity .2s, box-shadow .2s !important;
  &__root {
    padding-right: 80px !important;
    cursor: pointer;
    //&:hover {
    //  background: #efefef !important;
    //}
    //&:active {
    //  background: #d9d9d9 !important;
    //}
  }
  &__button {
    transition: transform .1s linear;
    &:active {
      transform: scale(.9);
    }
  }
  &_highlight {
    opacity: .5;
    transform: scale(.98);
    box-shadow: 0 0 0 2px #3f51b5;
  }
}